WeRoBot~=1.13.1
requests~=2.32.3
zhipuai~=2.1.5.20250106
torch~=2.5.1
flask~=3.1.0
pandas~=2.2.3
scikit-learn~=1.6.1
transformers~=4.45.2
redis~=5.2.1
neo4j~=5.27.0
matplotlib~=3.9.2
tqdm~=4.66.5
numpy~=1.26.4
datasets~=2.19.1
textrank4zh~=0.3
networkx~=2.6.3
jieba~=0.42.1
torchvision~=0.20.1
pydantic~=2.10.6